<html ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="app/bootstrap\css\bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="app/css/style.css">
	<script src="app/bootstrap/js/respond.js"></script>
	<script src="https://connect.facebook.net/en_US/sdk.js"></script>
	
	<script src="app/js/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
	<script src="../node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

	<script src="../node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
	<script src="../node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
	
	<script src="app/app.js"></script>
	


</head>

<body style="margin:0px;">

	<div ng-controller="MyCtrl" data-ng-init="init()"  hidden>

	 </div>

	<div class="container-fluid" >
		<div class="row" >
			<div class=" col-xs-7" style="background-color:blue;height:100vh;">


			</div>

			<div class=" col-xs-4   col-xs-offset-1" >
				<div class = "container-fluid">
					<div class = "row" style="margin-top:30%;">
						
						<div class = "col-xs-offset-2  col-xs-5"  >
							<img   src="app/images/logo.jpg" class="img-responsive"> 
						</div>
						
					</div>
					<div class = "row" style="margin-top:10%;">
						<div class = "col-xs-offset-2  col-xs-8" >
							<b style="font-size:19px">Login Or SignUp</b>
						</div>
					</div>
					<div class = "row" style="margin-top:3%;"  >
						<div class = "col-xs-10">
							<a href="/auth/facebook"><img   src="app/images/facebook-login.png" class="img-responsive"></a>
						</div>
						

					</div>
					<div class = "row" style="margin-top:3%;">
						<div class = "col-xs-10">
							<a href="/auth/google"><img   src="app/images/login-google.png" class="img-responsive"> </a>
						</div>
					</div>



				</div>
			</div>

		</div>
	</div>
</div>

<script src="app/bootstrap/js/jquery-3.1.1.min.js"></script>
<script src="app/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>